.skills-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 25px;
  }
  
  .skills-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .skills-column {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .skills-column h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #269d2e;
  }
  
  .skill {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .skill-icon {
    font-size: 2rem;
    color:#24cb2f;
  }
  
  .skill p {
    font-size: 1rem;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
    }
  }
  